* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  font-size: 18px;
  list-style: none;
}

span {
  color: #D8160C;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.header {
  padding: 30px 0;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__nav .fa-bars {
  font-size: 18px;
}
.header__nav-list {
  display: flex;
  gap: 30px;
}
.header__nav-list-item {
  list-style: none;
  color: #000;
}
.header__nav-box {
  font-size: 12px;
  text-align: center;
}
.header__nav-box span {
  font-size: 24px;
}
.header__nav-icons {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 12px;
}
.header__nav-icons .fa-brands {
  font-size: 16px;
}
.header__hero {
  height: 580px;
  background-image: url(../../images/header\ bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header__hero .extra {
  background-color: rgba(241, 241, 241, 0.9);
  height: 580px;
}
.header__hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__hero h1 {
  width: 520px;
  font-size: 48px;
  font-weight: 700;
}
.header__hero-btn {
  font-size: 20px;
  color: #fff;
  background-color: #D8160C;
  border: none;
  border-radius: 30px;
  padding: 15px 32px;
  margin: 40px 0 100px 0;
}
.header__hero-left-box {
  display: flex;
  gap: 40px;
}
.header__hero-right {
  margin: 56px 0 0 0;
}

@media screen and (max-width: 1000px) {
  .header__nav {
    width: 100%;
    padding: 10px;
  }
  .header__hero {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    width: 100%;
    padding: 10px;
  }
  .header__nav-list {
    display: none;
  }
  .header__hero {
    width: 100%;
    padding: 10px;
  }
  .header__hero-wrapper {
    width: 100%;
  }
  .header__hero h1 {
    font-size: 45px;
  }
  .header__hero-left-box {
    gap: 20px;
  }
  .header__hero-right {
    margin: 56px 0 0 -150px;
  }
}
@media screen and (max-width: 480px) {
  .header__nav {
    width: 100%;
    padding: 10px;
  }
  .header__nav-list, .header__nav .icon-box, .header__nav-icons {
    display: none;
  }
  .header__nav-box {
    font-size: 10px;
    text-align: center;
  }
  .header__nav-box span {
    font-size: 20px;
  }
  .header__nav-link img {
    width: 140px;
  }
  .header__hero {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .header__hero-wrapper {
    align-items: flex-start;
  }
  .header__hero-left {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
  }
  .header__hero h1 {
    font-size: 28px;
    width: 280px;
  }
  .header__hero-btn {
    width: 100%;
    font-size: 14px;
    padding: 15px 10px;
    order: 4;
    margin: 120px 0 0 0;
  }
  .header__hero-left-box {
    display: block;
    margin: 40px 0 0 0;
  }
  .header__hero-right {
    margin: 0 0 0 -160px;
  }
  .header__hero-img {
    width: 300px;
    height: 580px;
  }
}
@media screen and (max-width: 360px) {
  .header__nav {
    width: 100%;
    padding: 10px;
  }
  .header__nav-list, .header__nav .icon-box, .header__nav-icons {
    display: none;
  }
  .header__nav-box {
    font-size: 10px;
    text-align: center;
  }
  .header__nav-box span {
    font-size: 20px;
  }
  .header__nav-link img {
    width: 140px;
  }
  .header__hero {
    width: 100%;
    padding: 10px;
  }
  .header__hero-wrapper {
    align-items: flex-start;
  }
  .header__hero-left {
    display: flex;
    flex-wrap: wrap;
  }
  .header__hero h1 {
    font-size: 28px;
    width: 280px;
  }
  .header__hero-btn {
    width: 340px;
    font-size: 14px;
    padding: 15px 10px;
    order: 4;
    margin: 120px 0 0 0;
  }
  .header__hero-left-box {
    display: block;
    margin: 40px 0 0 0;
  }
  .header__hero-right {
    margin: 0 0 0 -250px;
  }
  .header__hero-img {
    width: 300px;
    height: 580px;
  }
}
.section1__top, .section1__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0;
}
.section1__right {
  margin: 0 0 0 100px;
}
.section1__left {
  margin: 0 -250px 0 0;
}
.section1__title {
  width: 550px;
  margin: 0 0 30px 0;
}
.section1__list-item, .section1__list .item {
  position: relative;
  width: 600px;
  margin: 0 0 30px 25px;
}
.section1__list-item::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #D8160C;
  border-radius: 50%;
  left: -25px;
}
.section1__list-item2 {
  position: relative;
  width: 350px;
  line-height: 22px;
  margin: 0 0 30px 25px;
}
.section1__list-item2::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #D8160C;
  border-radius: 50%;
  left: -20px;
}
.section1__img-wrapper {
  margin: 40px 0 20px 0;
}
.section1__text {
  font-size: 18px;
  color: #D8160C;
  margin: 40px 0 0 0;
}

.section2 {
  height: 520px;
  background-color: #F5F5F5;
  padding: 60px 0;
}
.section2 .container {
  display: flex;
  justify-content: space-between;
}
.section2__list {
  margin: 30px 0 0 0;
}
.section2__list-item {
  position: relative;
  font-size: 20px;
  margin: 0 0 10px 30px;
}
.section2__list-item::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #D8160C;
  border-radius: 50%;
  left: -25px;
  top: 4px;
}
.section2__btn {
  font-size: 18px;
  color: #fff;
  background-color: #D8160C;
  border: none;
  border-radius: 30px;
  padding: 17px 60px;
}

.section3__top {
  height: 250px;
  padding: 40px 0;
}
.section3__top-title {
  text-align: center;
  margin: 0 0 30px 0;
}
.section3__top input {
  width: 100%;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 30px;
  border: 1px solid lightgrey;
}
.section3__middle {
  height: 270px;
  background-color: #F5F5F5;
  padding: 40px 0;
}
.section3__middle-title {
  width: 950px;
  text-align: center;
  margin: 0 0 30px 200px;
}
.section3__middle-btn {
  font-size: 20px;
  color: #fff;
  background-color: #48C95F;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 66px;
  padding: 20px 45px;
  margin: 0 0 0 420px;
}
.section3__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  padding: 50px 0;
  margin: 100px auto;
}
.section3__bottom-title {
  width: 800px;
}

.section4__top {
  height: 500px;
  background-color: #f5f5f5;
  padding: 50px 0;
}
.section4__top .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section4__top-wrapper {
  display: flex;
  gap: 30px;
  margin: 40px 0;
}
.section4__top-wrapper h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.section4__top-wrapper h3 span {
  font-size: 55px;
  font-weight: 700;
}
.section4__top-btn {
  font-size: 20px;
  color: #fff;
  background-color: #D8160C;
  border: none;
  border-radius: 30px;
  padding: 17px 45px;
}
.section4__bottom {
  height: 400px;
  padding: 50px 0;
  margin: 80px auto;
}
.section4__bottom-title {
  text-align: center;
  margin: 0 0 50px 0;
}
.section4__bottom-text {
  width: 1200px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 0 0 0 45px;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.footer__nav-btn {
  font-size: 18px;
  padding: 16px 40px;
  border: none;
  border-radius: 30px;
}
.footer__nav-icons {
  display: flex;
}
.footer__nav a {
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
