.footer {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        &-btn {
            font-size: 18px;
            padding: 16px 40px;
            border: none;
            border-radius: 30px;
        }
        &-icons {
            display: flex;
        }
        a {
            font-size: 20px;
        }
    }
}