.header {
    padding: 30px 0;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        .fa-bars {
            font-size: 18px;
        }
        &-list {
            display: flex;
            gap: 30px;
            &-item {
                list-style: none;
                color: #000;
            }
        }
        &-box {
            font-size: 12px;
            text-align: center;
            span {
                font-size: 24px;
            }
        }
        &-icons {
            width: 200px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 12px;
            .fa-brands {
                font-size: 16px;
            }
        }
    }
    &__hero {
        height: 580px;
        background-color: lightgray;
        background-image: url(../../images/header\ bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h1 {
            width: 520px;
            font-size: 48px;
            font-weight: 700;
        }
        &-btn {
            font-size: 20px;
            color: #fff;
            background-color: #D8160C;
            border: none;
            border-radius: 30px;
            padding: 15px 32px;
            margin: 40px 0 100px 0;
        }
        &-left-wrapper {
            display: flex;
            gap: 40px;
        }
        &-right {
            margin: 56px 0 0 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        &__nav {
            width: 100%;
            padding: 10px;
        }
        &__hero {
            width: 100%;
            padding: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__nav {
            width: 100%;
            padding: 10px;
            &-list {
                display: none;
            }
        }
        &__hero {
            width: 100%;
            padding: 10px;
            &-wrapper {
                width: 100%;
            }
            h1 {
                font-size: 45px;
            }
            &-left-wrapper {
                gap: 20px;
            }
            &-right {
                margin: 56px 0 0 -150px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        &__nav {
            width: 100%;
            padding: 10px;
            &-list, .icon-box, &-icons {
                display: none;
            }
            &-box {
                font-size: 10px;
                text-align: center;
                span {
                    font-size: 20px;
                }
            }
            &-link img {
                width: 140px;
            }
        }
        &__hero {
            width: 100%;
            padding: 10px;
            h1 {
                font-size: 28px;
                width: 280px;
            }
            &-left-wrapper {
                display: block;
            }
            &-right {
                margin: 70px 0 0 -80px;
            }
            &-img {
                width: 330px;
                height: 580px;
            }
        }
    }
}



@media screen and (max-width: 360px) {
    .header {
        &__nav {
            width: 100%;
            padding: 10px;
            &-list, .icon-box, &-icons {
                display: none;
            }
            &-box {
                font-size: 10px;
                text-align: center;
                span {
                    font-size: 20px;
                }
            }
            &-link img {
                width: 140px;
            }
        }
        &__hero {
            width: 100%;
            padding: 10px;
        }
    }
}