.section2 {
    height: 520px;
    background-color: #F5F5F5;
    padding: 60px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        margin: 30px 0 0 0;
        &-item {
            font-size: 20px;
            margin: 0 0 10px 0;
        }
    }
    &__btn {
        font-size: 18px;
        color: #fff;
        background-color: #D8160C;
        border: none;
        border-radius: 30px;
        padding: 17px 60px;
    }
}