.section2 {
    height: 520px;
    background-color: #F5F5F5;
    padding: 60px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        margin: 30px 0 0 0;
        &-item {
            position: relative;
            font-size: 20px;
            margin: 0 0 10px 30px;
        }
        &-item::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            background-color: #D8160C;
            border-radius: 50%;
            left: -25px;
            top: 4px;
        } 
    }
    &__btn {
        font-size: 18px;
        color: #fff;
        background-color: #D8160C;
        border: none;
        border-radius: 30px;
        padding: 17px 60px;
    }
}